
*.bat       text eol=crlf
*.sh        text eol=lf

*.sln               text eol=crlf
*.vcxproj           text eol=crlf
*.vcxproj.filters   text eol=crlf



# *           text=auto
# *.txt       text
# *.jpg       -text
