//
// author         Oliver Blaser
// date           13.08.2021
// copyright      MIT - Copyright (c) 2021 Oliver Blaser
//

#include "resources.h"

// add '$(sdk)/omw/include' (or similar, depends on your setup) to Configuration Properties > Resources > General > Additional Include Directories
#include <omw/windows/resourceTypes.h>

// the alphabetical first ICON is used by Windows as app icon
AAAAA_MainIcon ICON "icon.ico"

IDR_MYTEXTFILE OMW_RCT_TEXTFILE "..\\myTextFile.txt"
IDR_MYBINARYFILE OMW_RCT_BINFILE "myBinFile.hxd"
